{
  "plugins": [{{#unless_eq theme 'none'}}
    ["component",
      {{#if_eq theme 'element-ui'}}
      { "libraryName": "element-ui", "styleLibraryName": "theme-chalk" }
      {{/if_eq}}
      {{#if_eq theme 'mint-ui'}}
      { "libraryName": "mint-ui", "style": true }
      {{/if_eq}}
    ],{{/unless_eq}}
    {{#vcc}}
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    {{/vcc}}
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "not ie <= 8"
        ]
      }
    }]
  ]
}
