{
  "plugins": [["component", [
    {{#if_eq theme 'element-ui'}}
    { "libraryName": "element-ui", "styleLibraryName": "theme-default" }
    {{else}}
    { "libraryName": "mint-ui", "style": true }
    {{/if_eq}}
  ]]],
  "presets": ["es2015", "stage-0"]
}
